
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TradingSyntax Co</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '' %}assets/img/favicon.png" rel="icon">
  <link href="{% static '' %}assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '' %}assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '' %}assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'home' %}">TradingSyntax</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="{% url 'home' %}#portfolio">Ideas</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Trading Signals</a></li>
              <li class="dropdown"><a href="#"><span>Help & Support</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Purchasing</a></li>
                  <li><a href="#">Installing</a></li>
                  <li><a href="#">Terms of service</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Risk Disclaimer</a></li>
                </ul>
              </li>
              <li><a href="#">Educational Content</a></li>
              <li><a href="#">Investment</a></li>
              <li><a href="#">MQL5 Programming</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}#contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">LogOut</a></li>
          <li><a class="getstarted scrollto" href="{% url 'profile' %}"><i class="bi bi-person-fill me-2"></i>My Profile</a></li>

          {% else %}
          <li><a data-bs-toggle="modal" href="#exampleModalToggle" role="button">SignUp/LogIn</a></li>
          {% endif %}

          <li><a class="getstarted scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">AI Trading
              Lab!</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div style="margin: auto;text-align: center;" class="modal-body">
              <!-- ======= Team Section ======= -->
              <section class=" py-5 ">
                <div class="section-title">
                  <h2>Products</h2>
                  <p>Meet our Expert-Advisors</p>
                </div>
  
                <div class="container  px-4 px-lg-5 mt-5">
                  <div class=" row ">
                    {% for product in products %}
  
                    <div data-aos="fade-up" class="col-lg-6 mt-4 ">
                      <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                          {{product.category}}</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{product.imageURL}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                          <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product reviews-->
                            <div>{{product.info}}</div>
                            <hr>
                            <div style="color:rgb(192, 147, 0); font-weight: bold;"
                              class="d-flex justify-content-center small  mb-2">
                              <p>{{product.description}}</p>
                            </div>
                            <!-- Product price-->
  
                            ${{product.pricebasic}}
                          </div>
                        </div>
                        <!-- Product actions-->
  
  
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
  
                          <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto  add-btn" href="{% url 'product_detail' product.id %}" role="button">Learn More</a>
  
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
  
                  </div>
                </div>
              </section>
  
  
  
  
  
            </div>
            <div class="modal-footer">
              <button style="background-color: rgba(41, 10, 37, 0.955);" type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ======= End Modal Section ======= -->
  

        <!-- SingUp modal -->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Sign In</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form" action="{% url 'login' %}" method="post" class="">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control rounded-3" id="floatingInput" placeholder="UserName">
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">LogIn</button>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password? Click here</a>            <hr class="my-4">
          </form>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">have not an account?? Register here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">SignUp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="register-form" method="post" action="{% url 'register' %}" class="">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control rounded-3" id="floatingInput" placeholder="UserName">
              <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password1" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password2" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password Confirmation</label>
            </div>

            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Register</button>
            <hr class="my-4">
          </form>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to SignIn</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    const register = document.getElementById('register-form');
    register.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '{% url "register" %}',
            data: serializedData,
            dataType: 'json',
            success: function (data) {
                if (data.msg === 'Success') {
                    alert('Registered successfully, you can log in now');
                    $("#register-form").trigger('reset');
                } else if (data.msg === 'Err') {
                    var errors = JSON.parse(data.errors);
                    var errorMessage = '';
                    Object.keys(errors).forEach(function (field) {
                        if (field === 'password2') {
                            errorMessage += 'Confirm Password: ' + errors[field][0]['message'] + '\n';
                        } else {
                            errorMessage += field + ': ' + errors[field][0]['message'] + '\n';
                        }
                    });
                    alert('There was an error:\n' + errorMessage);
                }
            },
            error: function () {
                alert('There was an error. Please try again.');
            }
        })
    }
</script>
<script>
  const login = document.getElementById('login-form');
  login.addEventListener("submit", submitHandler);

  function submitHandler(e) {
      var serializedData = $(this).serialize();
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url "login" %}',
          data: serializedData,
          dataType: 'json',
          success: function (data) {
              if (data.msg === 'Success') {
                  alert('Logged in!');
                  $("#login-form").trigger('reset');
                  window.location.reload();
              } else if (data.msg === 'Err') {
                  alert('There was an error: ' + data.error);
              }
          },
          error: function () {
              alert('There was an error. Please try again.');
          }
      })
  }
</script>

  {% block content %}








  {% endblock content %}
    <!-- ======= Footer ======= -->
    <footer id="footer">

    
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>TradingSyntax</h3>
                <p>
                  A108 Adam Street <br>
                  New York, NY 535022<br>
                  United States <br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Ideas</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">AI Trading lab</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Trading Signals</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Educational Content</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Investment</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">MQL5 Programming</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Networks</h4>
                <p>Get in touch with TradingSyntax</p>
                <div class="social-links mt-3">
                  <a style="background-color: #5c1a60;" href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a style="background-color: #5c1a60;" href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a style="background-color: #5c1a60;" href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a style="background-color: #5c1a60;" href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
                  <a style="background-color: #5c1a60;" href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container footer-bottom clearfix">
          <div class="copyright">
            &copy; Copyright <strong><span>TradingSyntax</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          </div>
        </div>
      </footer><!-- End Footer -->
    
      <div id="preloader"></div>
      <a href="#" style="background-color: #5c1a60;" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="{% static '' %}assets/vendor/aos/aos.js"></script>
      <script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="{% static '' %}assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="{% static '' %}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="{% static '' %}assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="{% static '' %}assets/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="{% static '' %}assets/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="{% static '' %}assets/js/main.js"></script>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
      <script>
        const form = document.getElementById('contact-form');
      form.addEventListener("submit",submitHandler);
      function submitHandler(e) {
          var serializedData = $(this).serialize();
          e.preventDefault();
          $.ajax({
              type: 'POST' , 
              url : '{% url "contact" %}',
              data: serializedData  ,
              dataType: 'json',
              success: function (data) {
                  if (data.msg === 'Success') {
                      alert('We got your message! We will get in touch with you As soon as possible');
                      $("#contact-form").trigger('reset');
            }
          }
       })
      }
      
      </script>
    
    </body>
    
    </html>