{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TradingSyntax Co</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '' %}assets/img/favicon.png" rel="icon">
  <link href="{% static '' %}assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '' %}assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{% static '' %}assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '' %}assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">TradingSyntax</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Ideas</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">AI Trading
              Lab!</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>Transform Your Trading with Our AI-Powered Solutions</h1>
          <h2>Maximize Your Profits with Our Innovative Trading Tools</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static '' %}assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p style="font-size: medium;text-align: justify;">
              Welcome to <strong>TradingSyntax</strong>!! We are a team of dedicated professionals who specialize in
              developing AI-based Expert Advisors for Forex trading on MT5. Our cutting-edge technology and expertise in
              the field of Artificial Intelligence have enabled us to provide our clients with innovative solutions that
              make trading simpler, more efficient, and more profitable. </p>
            <ul>
              <strong>
                <li><i class="ri-check-double-line"></i> Our team is dedicated to providing you with the best possible
                  AI-based Expert Advisors for Forex trading on MT5</li>
                <li><i class="ri-check-double-line"></i> We strive to create a transparent and ethical trading
                  environment that empowers our clients to make informed decisions and achieve their financial goals
                </li>
                <li><i class="ri-check-double-line"></i> Our AI-based trading signals on pairs are designed to help you
                  stay ahead of the curve and maximize your trading profits</li>
              </strong>
            </ul>
            <p style="font-size: medium;text-align: justify;">
              In addition to our Expert Advisor development services, we also offer a comprehensive learning and
              teaching section on our website. We understand the importance of education in the trading world, and we
              believe that our clients should have access to the latest tools and strategies to succeed.

              At TradingSyntax, we pride ourselves on our commitment to transparency and ethical business practices. We
              offer AI-based trading signals on pairs to help our clients make informed decisions and achieve their
              financial goals. We strive to create a community of traders who can rely on us for honest and reliable
              information, innovative solutions, and exceptional customer service.

              Thank you for choosing TradingSyntax as your trusted partner in Forex trading. We look forward to working
              with you and helping you achieve your financial dreams. </p>
            <a href="#" class="btn-learn-more">Learn More</a>

          </div>
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static '' %}assets/img/hero-img3.png" alt="TradingSyntax" class="img-fluid">
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Let us help you make a profit on your investment.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-chart"></i></div>
              <h4><a href="#">Investment</a></h4>
              <p>Invest in our services and let us help you turn your money into profits.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-video"></i></div>
              <h4><a href="#">Education</a></h4>
              <p>Get access to educational videos and blogs, along with our powerful trading signals, all included in
                our services.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-cog"></i></div>
              <h4><a href="#">Tools & Support</a></h4>
              <p>We provide the tools and support you need to succeed in trading.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-money"></i></div>
              <h4><a href="#">Profit</a></h4>
              <p>Our expert advisors and strong support will be with you every step of the way, even after you've made
                your purchase.</p>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Efficient Trading at Your Fingertips: Try Our Platform Today</h3>
            <p> Empower Your Trades with Our Cutting-Edge AI Tools and Insights</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Choose Your
              AI!</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div style="margin: auto;text-align: center;" class="modal-body">
            <!-- ======= Team Section ======= -->
            <section class=" py-5 ">
              <div class="section-title">
                <h2>Products</h2>
                <p>Meet our Expert-Advisors</p>
              </div>

              <div class="container  px-4 px-lg-5 mt-5">
                <div class=" row ">
                  {% for product in products %}

                  <div data-aos="fade-up" class="col-lg-6 mt-4 ">
                    <div class="card h-100">
                      <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        {{product.category}}</div>
                      <!-- Product image-->
                      <img class="card-img-top" src="{{product.imageURL}}" alt="..." />
                      <!-- Product details-->
                      <div class="card-body p-4">
                        <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.name}}</h5>
                          <!-- Product reviews-->
                          <div>{{product.info}}</div>
                          <hr>
                          <div style="color:rgb(192, 147, 0); font-weight: bold;"
                            class="d-flex justify-content-center small  mb-2">
                            <p>{{product.description}}</p>
                          </div>
                          <!-- Product price-->

                          ${{product.price}}
                        </div>
                      </div>
                      <!-- Product actions-->


                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                        <div class="text-center">
                          <a class="btn btn-outline-dark mt-auto  add-btn" href="#" role="button">Learn More</a>

                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
            </section>





          </div>
          <div class="modal-footer">
            <button style="background-color: rgba(41, 10, 37, 0.955);" type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ======= End Modal Section ======= -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ideas</h2>
          <p>Trade ideas
            /
            Educational ideas
            /
            Video ideas

            & more</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          {% for a in cat %}
          <li data-filter=".filter-{{a.number}}">{{a.name}}</li>
          {% endfor %}
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">


          {% for a in posts %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{a.category.number}}">
            <div class="portfolio-img"><img src="{{a.imageURL}}" class="img-fluid" alt="{{a.short_info}}"></div>
            <div class="portfolio-info">
              <h4>{{a.title}}</h4>
              <p> {{a.short_info}}</p>
              <a href="{{a.video_link}}" class="portfolio-lightbox preview-link" title="{{a.title}}"><i
                  class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>We tried to answer some of most asked questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">What is an MQL5 EA? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  An MQL5 EA is a trading robot or Expert Advisor that automates trading strategies using the MQL5 programming language. These EAs use technical analysis and artificial intelligence to identify market trends and make trades automatically.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">How do I install an MQL5 EA? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  To install an MQL5 EA, you will need to download it from the MQL5 Market and then install it on your MetaTrader 5 platform. You can do this by going to the "File" menu, selecting "Open Data Folder," and then placing the EA file in the "MQL5" folder. Once installed, you can apply the EA to your trading charts.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">Can I use an MQL5 EA with my broker? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Most brokers support the use of Expert Advisors on their trading platforms, including MetaTrader 5. However, it is always recommended to check with your broker beforehand to ensure that they allow the use of EAs and that their platform is compatible with MQL5.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed">How does artificial intelligence help with trading? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Artificial intelligence allows MQL5 EAs to analyze vast amounts of market data and identify patterns that humans may not be able to detect. AI can also learn from past trading data and adjust its strategy accordingly, allowing it to make more accurate predictions about market trends.                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">Are MQL5 EAs guaranteed to make profits? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  No, MQL5 EAs are not guaranteed to make profits, as there is always a risk involved in trading. While these EAs use advanced algorithms and artificial intelligence to improve trading accuracy, market conditions can be unpredictable, and past performance is not a guarantee of future results. It is always important to use proper risk management and have realistic expectations when using any trading strategy, including MQL5 EAs.                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Arsha</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '' %}assets/vendor/aos/aos.js"></script>
  <script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{% static '' %}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{% static '' %}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{% static '' %}assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{% static '' %}assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="{% static '' %}assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static '' %}assets/js/main.js"></script>

</body>

</html>